.comments {
    height: 95vh;
    background: linear-gradient(#e9f0e6,#dddfd4, #e0e1cf);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.add svg {
    color: white;
    border: 1px solid white;
}

.carousel {
    max-width: 100vw;
    width: 400px;
    min-width: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.testimonial {
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    max-width: 400px;
    height: 300px;
    align-items: center;
}

.testimonial h1 {
    text-align: center;
    font-style: italic;
}

.testimonial p {
    text-align:right;
    font-weight: 900;
    font-size: 17px;
}