.comments {
    height: 100vh;
    display: flex;
    background: linear-gradient(-80deg, #20180e, #372d25, #0d0c0d, #0d0c0d, #36383a);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    margin-top: 40px;
}

.add svg {
    color: white;
    border: 1px solid white;
}

.carousel {
    max-width: 100vw;
    width: 400px;
    min-width: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.testimonial {
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    max-width: 400px;
    height: 300px;
    align-items: center;
}

.testimonial h1 {
    text-align: center;
    font-style: italic;
}

.testimonial p {
    text-align:right;
    font-weight: 900;
    font-size: 17px;
}