@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;700&display=swap');

/* Reset CSS */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.rdw-editor-main {
  min-height: 50vh !important;
}

.notranslate {
  background: linear-gradient(70deg, #ffffff 10%, #f0f0f0 30%, #dcdcdc 50%, #b0a89768 70%, #8b7a664d 90%);
}

table, th, td {
  border: none !important;
  border-collapse: collapse;
}

th {
  border-bottom: none !important;
}

body, body * {
  font-family: 'Cormorant Garamond', serif;
}

html, body, #__next {
  height: 100%;
  overflow-x: hidden;
  margin: 0;
  padding:0;
  width: 100%;
    background: linear-gradient(#e9f0e6,#dddfd4, #e0e1cf);
}

.slick-arrow {
  background-color: black !important;
  width: 24px !important;
  border-radius: 100%;
}

.card-title {
  z-index: 20 !important;
  font-size: 50px;
}


.carousel-control-prev, .carousel-control-next {
  z-index: 1; 
  display: flex;
  align-items: start !important;
}



.carousel-indicators {
  display: none !important;
}

/* Header */

.reverta {
  display: flex;
  justify-content: center ;
  width: 100%;
}

.header {
  padding: 1rem;
  position: fixed !important;
  background: linear-gradient(-45deg, #1b0903, #111112, #151616, #1a0803);
  width: 100vw;
  z-index: 999;
  display: flex;
  flex-wrap: nowrap !important;
  align-items: center;
  /* margin-bottom: 20px !important; */
}

.header * {
  color: white !important;
}

/* A largura da barra de rolagem */
::-webkit-scrollbar {
  width: 10px;
}

/* O fundo da trilha da barra de rolagem */
::-webkit-scrollbar-track {
  background-color: #111112;
}

/* A cor da barra de rolagem (o "polegar" que você segura para rolar) */
::-webkit-scrollbar-thumb {
  border-radius: 30px;
  background: linear-gradient(20deg, #c59151, #f7e3aa, #1b0903,#6f4014, #efbd7b, #c59151, #f7e3aa, #1a0803);
}

/* A cor do "polegar" da barra de rolagem ao passar o mouse */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.content {
  margin-top: 160px !important;
}


/* Main Content */
.main-content {
  flex: 1;
  overflow: auto;
}


/* Footer */
.footer {
  background: #333;
  padding: 1rem;
  color: white;
}

/* Responsividade */
@media (max-width: 768px) {
  .header, .footer {
    padding: 0.5rem;
  }

}


#paper {
  display: flex;
  flex: 1;
  flex-direction: column;
  height:100%;
  width: 100%;
 }
 
 main {
  display: flex;
  flex: 1;
  flex-direction: column;
 }

 .slick-dots {
  display: none !important;
}


 #__next {
  display: flex;
  flex-direction: column;
}

body {
  overflow-y: hidden;
}

.navbar-toggler-icon {
  background-color: #fffbfb; /* cor branca */
  border-radius: 5px;
}

@media (max-width: 991px) {
  .reverta {
    display: flex;
    flex-direction: row-reverse !important;
    justify-content: space-between;
    width: 50%;
  }
}
